.idea
.idea/*
.idea/vcs.xml
.idea/trackr.iml
.idea/modules.xml

.idea/workspace.xml
backend/backend.iml
frontend/frontend.iml
backend/bin/*
backend/bin

# history folder created by VSCode that is not needed in repo
.history
.history/
.history/*

backend/bin/go_build_main_go.exe
backend/bin/test.db
